In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("df_train.csv")

In [4]:
df.head()

,Unnamed: 0,Unnamed: 0.1,PLAYER,AFFILIATION,OVERALL PICK,YEAR,TEAM,GP,MIN,PTS,...,DD2,TD3,+/-,HEIGHT,WEIGHT,POSITION,ROTY,CENTER,FORWARD,GUARD
0,0,0,Kwame Brown,Glynn Academy,1,2001-02,WAS,57,14.3,4.5,...,2.0,0.0,-1.5,2.11,132.0,Center,0,1,0,0
1,2,2,Pau Gasol,FC Barcelona Basquet (Spain),3,2001-02,MEM,82,36.6,17.6,...,35.0,0.0,-3.8,2.13,113.0,Center-Forward,1,1,1,0
2,4,4,Jason Richardson,Michigan State,5,2001-02,GSW,80,32.8,14.4,...,1.0,0.0,-3.4,1.98,102.0,Guard,0,0,0,1
3,5,5,Shane Battier,Duke,6,2001-02,MEM,78,39.7,14.4,...,3.0,0.0,-3.7,2.03,100.0,Forward,0,0,1,0
4,7,7,DeSagana Diop,Oak Hill Academy,8,2001-02,CLE,18,6.1,1.4,...,0.0,0.0,-0.3,2.13,127.0,Center,0,1,0,0

In [5]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'PLAYER', 'AFFILIATION', 'OVERALL PICK',
       'YEAR', 'TEAM', 'GP', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA',
       '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL',
       'BLK', 'PF', 'FP', 'DD2', 'TD3', '+/-', 'HEIGHT', 'WEIGHT', 'POSITION',
       'ROTY', 'CENTER', 'FORWARD', 'GUARD'],
      dtype='object')